@model IEnumerable<Projet_asp.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom_client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prenom_client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tel_client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email_client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Heure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_de_personne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenom_client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel_client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email_client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_de_personne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
