@model Projet_asp.Models.Reservation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prenom_client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prenom_client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tel_client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tel_client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email_client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email_client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_de_personne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_de_personne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
